@model  Student


<div class="row" name="studentNameDiv" id="@("Student" + Model.Id)" >

    <div class="col-3" style="background-color:#d1c8c1">@Model.Name</div>

    <div class="col-4">
       @Model.Email

        <button class="btn btn-success btn-sm m-1"
                onclick="AddStudentToCourse('@("CourseStudent" + Model.Id)','@Model.Id','@Model.Id','@Url.Action("AddStudentToCourse","CourseStudent",new { id = Model.Id })')">
            Add Student to Course
        </button>
    </div>



  

</div>
