@model StudentSclass


<div class="row" id="@("Student" + Model.student.Id)">

    <div class="col-3">@Model.student.Name</div>

    <div>
        <button class="btn btn-success btn-sm m-1"
                onclick="AddStudentToCourse('@("Course" + Model.Course.Id)','@Model.Course.Id','@Model.student.Id','@Url.Action("AddStudentToCourse", "Course", new { cId = Model.Course.Id, tId = Model.student.Id })')">
            Add Student
        </button>

    </div>
</div>
