@model  Student


<div class="row" id="@("Teacher" + Model.Id)" >

    <div class="col-3" style="background-color:antiquewhite">@Model.Name</div>

    <div class="col-3">@Model.Email</div>



    <div>
        <button class="btn btn-success btn-sm m-1"
                onclick="AddStudentToCourse('@("Course" + Model.Id)','@Model.Id','@Model.Id','@Url.Action("AddStudentToCourse","Course",new { id = Model.Id })')">
            Add Student to Course
        </button>


    </div>
</div>
