@model  Teacher
<div id="AddTeacher">

    <div class="row" id="@("Teacher" + Model.Id)">
        <div id="TeacherCourse">
            <div class="col-3" style="background-color:#d1c8c1">@Model.Name</div>

            <div class="col-3">@Model.Email</div>






            <button class="btn btn-success btn-sm m-1"
                    onclick="AddSTeacherToCourse('@("Course" + Model.Id)','@Model.Id','@Model.Id','@Url.Action("AddTeacherToCourse", "Course", new { id= Model.Id, tId = Model.Id })')">
                Add Teacher to Course
            </button>

        </div>
    </div>
</div>
