@model Course


<div class="row" id="@("Course" + Model.Teacher.Id)">

    <div class="col-3">@Model.Teacher.Name</div>

    <div>
        <button class="btn btn-success btn-sm m-1"
                onclick="AddTeacherToCourse('@("Course" + Model.Id)','@Model.Id','@Model.Teacher.Id','@Url.Action("AddTeacherToCourse", "Course", new { cId = Model.Id, tId = Model.Teacher.Id })')">
            Add Student
        </button>

    </div>
</div>
