@model CourseStudent


<div class="row" id="@("Student" + Model.student.Id)">

    <div class="col-3" style="background-color:#d1c8c1">@Model.student.Name</div>

    <div class="col-3" style="background-color:#d1c8c1">@Model.Course.Assigment</div>

    <div class="col-3" style="background-color:#d1c8c1">

        <button class="btn btn-danger btn-sm m-1"
                onclick="DeleteStudentFromCourse('@Model.Course.Id','@Model.student.Id','@Url.Action("DeleteStudentFromCourse","Course")')">
            Delete
        </button>


    </div>

    <div class="col-3" style="background-color:#d1c8c1">

        <button class="btn btn-info btn-sm m-1">
          Assigment
        </button>


    </div>

</div>
    

