@model StudentSclass


@{
    ViewData["Title"] = "CourseStudent";
}


@{
    ViewData["Title"] = "AddTeacherToCourse";
}

<div style="background-color:burlywood">
   <div class="row"  id="@("Student" + Model.Course.Id)" >
    <div>

        <h1>Students in @Model.Course.CourseName</h1>

    </div>
    <div id="studentlist">
        @if (Model.Students != null)
        {
            foreach (var item in Model.Course.Students)
            {
                @*<div namr>@item.Student.Name<button class="btn-sm btn-danger" onclick="DeleteStudentFromCourse('@( item.Student.Name)','@Url.Action("Delete","Student",new { id = Model.Course.Id })')">Delete</button>  </div>*@
            }


        }

    </div>

</div>
</div>




<h1>Add Student To Course</h1>

<div class="col-12" id="allStudent">
  
    @foreach (var item in Model.Students)
    {
        

        <br />
        @*<partial name="_AddTeacher" model="item" />*@
        <div class="row" id="@("Student" + item.Id)">

            <div class="col-3">@item.Name</div>

            <div>
                <button class="btn btn-success btn-sm m-1"
                        onclick="AddStudentToCourse('@("Course" + Model.Course.Id)','@Model.Course.Id','@item.Id','@Url.Action("AddStudentToCourse","Course",new { cId = Model.Course.Id, SOId = item.Id })')">
                    Add new student
                </button>


            </div>
        </div>

    }

</div>

