@model StudentSclass


@{
    ViewData["Title"] = "AddTeacherToCourse";
}


<div style="background-color:antiquewhite">

    @*<div>

        {
        @Model.Students
        }
    </div>*@
    <div id="student">
        @if (Model.Course.Student != null)
        {
            @Model.Course.Student.Name
        }

    </div>
    <div>

    </div>
</div>




<h1>Add Student To Course</h1>

<div class="col-12" id="teacherlist">
    @foreach (var item in Model.Students)
    {

        <br />
        @*<partialname ="_AddTeacher" model="item" />*@
        <div class="row" id="@("Teacher" + item.Id)">

            <div class="col-3">@item.Name</div>

            <div>
                <button class="btn btn-success btn-sm m-1"
                        onclick="AddStudentToCourse('@("Course" + Model.Course.Id)','@Model.Course.Id','@item.Id','@Url.Action("AddStudentToCourse","Course",new { coId = Model.Course.Id,  SoId = item.Id })')">
                    Add new Student
                </button>


            </div>
        </div>


    }

</div>


