@model StudentSclass


@{
    ViewData["Title"] = "CourseStudent";
}

@*<div>
        <div style="background-color:antiquewhite">
            <div>
                @if (Model.Students!= null)
                {
                    @Model.Students

                }


            </div>


        </div>
    </div>*@




<h1> Student´s </h1>


@{
    ViewData["Title"] = "AddTeacherToCourse";
}

<div>
    <div style="background-color:antiquewhite">
        <div>

            Students in @Model.Course.CourseName

        </div>
        <div id="studentlist">
            @if (Model.Students != null)
            {
                foreach (var item in Model.Course.Students)
                {
                    <div>@item.Student.Name</div>
                }

            }

        </div>
       
    </div>
</div>




<h1>Add Student To Course</h1>

<div class="col-12" id="allstudent">
    @foreach (var item in Model.Students)
    {

        <br />
        @*<partial name="_AddTeacher" model="item" />*@
        <div class="row" id="@("Student" + item.Id)">

            <div class="col-3">@item.Name</div>

            <div>
                <button class="btn btn-success btn-sm m-1"
                        onclick="AddStudentToCourse('@("Course" + Model.Course.Id)','@Model.Course.Id','@item.Id','@Url.Action("AddStudentToCourse","Course",new { cId = Model.Course.Id, SOId = item.Id })')">
                    Add Student
                </button>


            </div>
        </div>

    }

</div>

