@model TeacherSclass

@{
    ViewData["Title"] = "AddTeacherToCourse";
}

<div>
    <div style="background-color:antiquewhite">
        <div>

            @Model.Course.CourseName

        </div>
        <div id="teacher">
            @if (Model.Course.Teacher != null)
            {
                @Model.Course.Teacher.Name

            }

        </div>
        <div>
            @Model.Course.Assigment

        </div>
    </div>
</div>




<h1>AddTeacherToCourse</h1>

<div class="col-12" id="teacherlist">
    @foreach (var item in Model.Teachers)
    {

        <br />
     
        <div class="row" id="Current" >

            <div id="@("CurrentTeacher" + item.Id)" class="col-3">@item.Name</div>

            <div id="AddTeacher">
                <button class="btn btn-success btn-sm m-1"
                        onclick="AddTheacherToCourse('@("Course" + Model.Course.Teacher.Id)','@Model.Course.Id','@item.Id','@Url.Action("AddTeacherToCourse","Course",new { cId = Model.Course.Id, tId = item.Id })')">
                    Add new teacher
                </button>


            </div>
        </div>

    }

</div>
<button class="btn btn-dark btn-sm m-1"> <a href="javascript:history.back();">Back</a></button>