@model  TeacherSclass

@{
    ViewData["Title"] = "AddTeacherToCourse";
}
@Model.Course.CourseName
@*@Model.Course.Teacher*@

<h1>AddTeacherToCourse</h1>

<div class="col-12" id="teacherlist">
    @foreach (var item in Model.Teachers)
    {

        <br />
        @*<partial name="_AddTeacher" model="item" />*@
        <div class="row" id="@("Teacher" + item.Id)">

            <div class="col-3">@item.Name</div>

            <div>
                <button class="btn btn-success btn-sm m-1"
                        onclick="AddTheacherToCourse('@("Course" + Model.Course.Id)','@Model.Course.Id','@item.Id','@Url.Action("AddTeacherToCourse","Course",new { cId = Model.Course.Id, tId = item.Id })')">
                    Add Teacher to Course
                </button>


            </div>
        </div>

    }

</div>
