@model Course
@{
    ViewData["Title"] = "Details";
}
<h1>Course Details</h1>

<div class="row">
    <div class="col-3">@Model.CourseName</div>
    <div class="col-3">@Model.Assigment</div>
</div>
@if (Model.Teacher != null)
{
    <h2>Teacher in </h2>

    <div class="col-12" id="Teacherlist">
        @foreach (var item in Model.Teacher.Name)
        {

        <partial name="_Teacher" model="item" />
        }
    </div>
}
else
{
    <h2>Inget värde</h2>

}




@*<div class="col-3">Empty</div>
    <div class="row" id="@("Course" + Model.Teacher)">
        <div class="col-3">
            <div class="col-3"><input id="@("Teacher" +Model.Teacher.Id)" type="text" name="teacher" value="@Model.Teacher.Name" /></div>
        </div>  </div>*@
