@model Teacher


<div class="row" id="@("Teacher" + Model.Id)">
    <div class="col-3"><input id="@("TeacherName" +Model.Id)" type="text" name="TeacherName" value="@Model.TeacherName" /></div>
    <div class="col-3"><input id="@("TeacherEmail" + Model.Id)" type="email" name="TeacherEmail"  value="@Model.TeacherEmail" /></div>
    <div class="col-3">
        <button class="btn btn-success btn-sm"
                onclick="SaveEditItem('@("Teacher" + Model.Id)','@(Model.Id)','@Url.Action("ConfirmEdit","Teacher")')">
           Save
        </button>
    </div>
</div>



