@model Teacher


<div class="row" id="@("Teacher" + Model.Id)">
    <div class="col-3"><input id="@("Name" +Model.Id)" type="text" name="Name" value="@Model.Name" /></div>
    <div class="col-3"><input id="@("Email" + Model.Id)" type="email" name="Email"  value="@Model.Email" /></div>
    <div class="col-3">
        <button class="btn btn-success btn-sm"
                onclick="SaveEditTeacher('@("Teacher" + Model.Id)','@(Model.Id)','@Url.Action("ConfirmEdit","Teacher")')">
           Save
        </button>
    </div>
</div>



