@model Teacher


<div class="row" id="@("Teacher" + Model.Id)">

    <div class="col-4" style="background-color:#d1c8c1" >@Model.Name</div>
    <div class="col-4" style="background-color:#d1c8c1">@Model.Email</div>

    <div style="background-color:#d1c8c1">
        <button class="btn btn-success btn-sm m-1" style="background-color:cadetblue"
                onclick="EditTeacher('@("Teacher" + Model.Id)','@Url.Action("Edit","Teacher",new { id = Model.Id })')">
            Edit
        </button>

        <button class="btn btn-danger btn-sm m-1"
                onclick="DeleteTeacher('@("Teacher" + Model.Id)','@Url.Action("Delete","Teacher",new { id = Model.Id })')">
            Delete
        </button>
    </div>
</div>
