@model Teacher


<div class="row" id="@("Teacher" + Model.Id)">

    <div class="col-3">@Model.TeacherName</div>
    <div class="col-3">@Model.TeacherEmail</div>
    <div class="col-3">
        <button class="btn btn-success btn-sm m-1"
                onclick="EditListItem('@("Teacher" + Model.Id)','@Url.Action("Edit","Teacher",new { id = Model.Id })')">
            Edit
        </button>

        <button class="btn btn-danger btn-sm m-1"
                onclick="DeleteItem('@("Teacher" + Model.Id)','@Url.Action("Delete","Teacher",new { id = Model.Id })')">
            Delete
        </button>
    </div>

    <br>
</div>