@model Student


<div class="row" id="@("Student" + Model.Id)">
student
    <div class="col-3"><input id="@("Name" +Model.Id)" type="text" name="name" value="@Model.Name" /></div>
    <div class="col-3"><input id="@("CourseName" +Model.Id)" type="text" name="coursename" value="@Model.CourseName" /></div>
    <div class="col-3"><input id="@("Email" + Model.Id)" type="text" name="email" value="@Model.Email" /></div>
    <div class="col-2">
        <button class="btn btn-success btn-sm"
                onclick="CreateStudent('@("Student" + Model.Id)','@(Model.Id)','@Url.Action("Create","Student")')">Add Student</button>
          
    </div>


</div>

}

