<div class="row" id="@("Student" + Model.Id)">
    <div class="col-3"><input id="@("name" +Model.Id)" type="text" name="name" value="@Model.Name" /></div>
    <div class="col-3"><input id="@("email" + Model.Id)" type="text" name="Assigment" value="@Model.Email" /></div>
    <div class="col-3">
        <button class="btn btn-success btn-sm"
                onclick="SaveEditStudent('@("Student" + Model.Id)','@(Model.Id)','@Url.Action("ConfirmEdit","Student")')">
            Save
        </button>
    </div>
</div>