@model Student


<div class="row" id="@("Student" + Model.Id)">

    <div class="col-3" style="background-color:#d1c8c1" >@Model.Name</div>
    <div class="col-3" style="background-color:#d1c8c1">@Model.Email</div>
    <div class="col-3" style="background-color:#d1c8c1">
        <button class="btn btn-success btn-sm m-1"
                onclick="EditStudent('@("Student" + Model.Id)','@Url.Action("Edit","Student",new { id = Model.Id })')">
            Edit
        </button>

        <button class="btn btn-danger btn-sm m-1"
                onclick="DeleteStudent('@("Student" + Model.Id)','@Url.Action("Delete","Student",new { id = Model.Id })')">
            Delete
        </button>


    </div>

 
</div>